*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Happy Monkey', cursive;
    background-color: black;
}
header{
    /* background-color:#454545; */
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
ul{
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: orange;
    display: inline-block;
}
li a::after{
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: orange;
    transition: all 0.5s;
}
li a:hover::after{
    width: 100%;
}
main{
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hero-img{
    max-width: 670px;
    height: auto;
}
.content-left{
    width: 30%;
}
main h1{
    font-size: 54px;
    color: orange;
    text-transform: uppercase;
}

main h2{
    font-size: 25px;
    color: orange;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}
 main p{
    font-size: 14px;
    font-weight: 400;
    color: orange;
    line-height: 31.5px;
    margin: 30px 0;
 }
 .cta{
    padding: 15px 30px;
    background: orange;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 50px;
 }